body {
  @include fontHelve;
  @include fontDefault;

  background: var(--gray);
}

* {
  box-sizing: border-box;

  &::selection {
    background-color: var(--red);
    color: var(--white);
  }
}

.container {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px;
}
