.Input {
  background: transparent;
  padding: 16px;
  width: 100%;
  border: none;
  color: var(--gray-dark);
  font-size: 24px;
  font-weight: 100;

  &::placeholder {
    color: var(--gray-dark);
  }
}
