.moveDownAndFade {
  &-enter {
    transition: var(--transition-sm);
    transform: translateY(-10px);
    opacity: 0;
  }

  &-enter-active {
    transition: var(--transition-sm);
    transform: translateY(0);
    opacity: 1;
  }

  &-leave {
    @extend .moveDownAndFade-enter-active;
  }

  &-leave-active {
    @extend .moveDownAndFade-enter;
  }

  &-appear {
    @extend .moveDownAndFade-enter;
  }

  &-appear-active {
    @extend .moveDownAndFade-enter-active;
  }
}
