.TodoItem {
  padding: 20px;
  border-top: 2px solid var(--gray);
  position: relative;
  overflow: hidden;
}

.TodoItem__id {
  display: inline-block;
  margin-right: 10px;
  color: var(--red);
}

.TodoItem__name {
  display: inline-block;
}

.TodoItem__close {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(-20px, -50%);
  transition: var(--transition-sm);
  opacity: 0;

  .TodoItem:hover & {
    transform: translate(0, -50%);
    opacity: 1;
  }
}
