.Button {
  border-radius: 30px;
  display: inline-block;
  padding: 10px 15px;
  background: var(--red);
  color: var(--white);
  cursor: pointer;
  transition: var(--transition-md);
  text-align: center;

  &:hover {
    filter: grayscale(1);
  }
}

.Button--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
