.TodoCounter {
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  background: var(--black);
  color: var(--white);
  font-size: 12px;
  transition: var(--transition-sm);
}

.TodoCounter--error {
  background: var(--red);
}

.TodoCounter--hide {
  opacity: 0;
  transform: scale(0.5);
}
