.MainLink {
  display: inline-block;
  text-decoration: none;
  position: relative;

  &__group {
    margin-left: 10px;
  }

  &__preview {
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--gray);
    border-radius: var(--radius);
    overflow: hidden;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &--up {
      bottom: calc(100% + 10px);
    }

    &--down {
      top: calc(100% + 10px);
    }
  }

  &__iframe {
    width: 1000px;
    height: 1000px;
    transform: scale(0.3);
    transform-origin: top left;
  }

  &__title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    background: var(--black);
    color: var(--white);
  }
}
