.SettingsColor {
  margin-bottom: 30px;
}

.SettingsColor__box {
  border-radius: var(--radius);
  padding: 10px;
  background: var(--white);
}

.SettingsColor__name {
  color: var(--black);
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
}
