.HistoryItem {
  padding: 20px;
  border-top: 2px solid var(--gray);
  position: relative;
  overflow: hidden;
}

.HistoryItem__block {
  display: inline-block;
  margin-right: 10px;
  color: var(--red);
}

.HistoryItem__block--black {
  color: var(--black);
}

.HistoryItem__name {
  display: inline-block;
}

.HistoryItem__close {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(20px, -50%);
  transition: var(--transition-sm);
  opacity: 0;

  .HistoryItem:hover & {
    transform: translate(0, -50%);
    opacity: 1;
  }
}
