.Layers {
  position: relative;
  margin-bottom: 30px;

  &::after,
  &::before {
    @extend .shadow;

    border-radius: var(--radius);
    opacity: 0;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 5px;
    background: var(--gray);
    transition: var(--transition-lg);
  }
}

.Layers--first {
  &::before {
    opacity: 1;
    bottom: -6px;
    right: 5px;
    left: 5px;
    z-index: var(--z-index-layers-first);
  }
}

.Layers--second {
  &::after {
    opacity: 1;
    bottom: -12px;
    right: 10px;
    left: 10px;
    z-index: var(--z-index-layers-second);
  }
}
