$phone: 320px;
$tab: 768px;
$pc: 1024px;

:root {
  --radius: 5px;
  --transition-sm: 0.3s;
  --transition-md: 0.4s;
  --transition-lg: 0.4s;
  --z-index-options: 9999;
  --z-index-options-background: 0;
  --z-index-options-content: 1;
  --z-index-layers-first: -1;
  --z-index-layers-second: -2;
}
