.Download {
  position: fixed;
  left: 10px;
  bottom: 10px;
  overflow: hidden;
  min-width: 130px;

  &:hover {
    .Download__hover {
      top: 0;
    }
  }
}

.Download__hover {
  background: var(--black);
  padding: 10px;
  position: absolute;
  top: -50px;
  height: 100%;
  left: 0;
  right: 0;
  transition: var(--transition-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Download__hoverItem {
  color: var(--white);
  font-size: 14px;
  padding: 0 10px;
}
