.Options {
  position: fixed;
  top: -100%;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: var(--z-index-options);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-sm);
}

.Options--active {
  transform: translateY(100%);
  opacity: 1;
  pointer-events: all;
}

.Options__background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.1;
  z-index: var(--z-index-options-background);
}

.Options__content {
  position: relative;
  transition: var(--z-index-options-content);
}
