.SettingsLang {
  color: var(--black);
  margin-bottom: 30px;
}

.SettingsLang__name {
  margin-bottom: 10px;
}

.SettingsLang__selectBox {
  border-radius: var(--radius);
  display: inline-block;
  background: var(--white);
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

.SettingsLang__select {
  @include fontHelve;
  @include fontDefault;

  background: transparent;
  color: var(--black);
  border: none;
  width: calc(100% + 30px);
}
