.Message {
  border-radius: var(--radius);
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  max-width: 300px;
  padding: 10px;
  text-align: center;
}

.Message__loading {
  background: var(--white);
  color: var(--black);
}

.Message__errors {
  background: var(--red);
  color: var(--white);
}
